PUBLIC_API_URL=/api/v1
PUBLIC_WS_URL=wss://frostbyte-api.southeastasia.cloudapp.azure.com/ws
SERVER_PORT=443
DB_HOST=db
DB_PORT=3306
DB_USER=frost_admin
DB_PASSWORD=your_db_password
DB_NAME=frost_db
JWT_SECRET=your_jwt_secret
SEED_ADMIN_PASSWORD=admin123
SEED_CASHIER_PASSWORD=cashier123
SEED_CUSTOMER_PASSWORD=customer123